.custom-nav{

}
.custom-nav ul{
	
}
.custom-nav ul li{
	
}
.custom-nav ul li a{
    color: #ffffff !important;
    padding: 0 !important;
    margin: 0 10px;
    padding: 5px 10px !important;
    border-radius: 5px;
    transition: .5s;
}
.custom-nav ul li:first-child a{
	margin-left: 0;
}
.custom-nav ul li:last-child a{
	margin-right: 0;
}
.custom-nav ul li a:hover {
	background: #ffffff !important;
	color: red !important;
	border:1px solid red;
	font-weight: bold;
}





.sec-cus-nav{

}
.sec-cus-nav ul{

}
.sec-cus-nav ul li{

}
.sec-cus-nav ul li a{
    color: #ffffff !important;
    padding: 0 !important;
    padding: 10px 10px !important;
}
.sec-cus-nav{

}
.sec-cus-nav ul li a:hover {

}
.custom-menu{
    left: -46px;
    min-width: 11rem;
    top: 150%;

}
.custom-menu a:hover {
	background: #000000;
}